body {
    width: 100px;
    margin: 30px;
    background-color: antiquewhite;
}

#profile-container {
<<<<<<< HEAD
    max-width: 300px;
=======
    max-witdh: 300px;
>>>>>>> development-1.0
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
}

#profile-image {
<<<<<<< HEAD
    width: 100%;
    heigth: auto;
=======
    width: 100px;
    height: auto;
>>>>>>> development-1.0
}

#profile-name {
    text-align: center;
}

#header {
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
<<<<<<< HEAD
}

#footer {
    width: 100px;
    height: 50px'
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
}

=======
}
>>>>>>> development-1.0
